html {
    font-size: 62.5%;
}

body {
    font-family: $font-base;
    font-size: $font-base-size;
    line-height: $font-base-line;
    font-weight: $font-base-weight;
    font-style: normal;
    background: #fff;
    color: $primary-color;
    padding-top: 92px;
    transition:120ms padding ease-in-out;
         @media (min-width: $lg) {
            padding-top: 0;
            transition:none;
         }

}

p {
    font-size: $font-base-size;
}

a {
    text-decoration: none;
    color: $primary-color;
}

a:hover {
    text-decoration: none;
    color: $native-color-hover;
}

a:focus,
a:active {
    outline: none;
    text-decoration: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
}
input[type="radio"]{
    -webkit-appearance: none;
}
input[type="radio"]:hover,
input[type="radio"]:active,
input[type="radio"]:focus{
    -webkit-appearance: none;
}
textarea:focus,
div.bootstrap-select .dropdown-toggle:focus,
button,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border:$input-border;
    box-shadow: none;
    outline: 0 none !important;
}

