<!doctype html>
<html  lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body class="subpage-body">
        
        <header class="header-main header-main--subpage header-main--card fixed-top">
            <!-- partial:views/_header.html -->
            <!-- partial -->
        </header>

        <main class="main main--pages main--account">
            <div class="container d-none d-lg-block">
                <div class="row">
                    <div class="col-12">
                        <a href="index.html" class="text-link"><span class="icon icon-noun-arrow-left-59"></span>Back to store</a>
                    </div>
                </div>
            </div>

            <section class="section-form">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-4 offset-xl-4 offset-lg-3">
                            <div class="section-form__content">
                                <form action="#" id="formLogin">
                                    <header class="section-form__content__header">
                                        <h1 class="native-heading-small">Forgot your password?</h1>
                                        <p>Enter your email account </p>
                                    </header>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group form-group--slide">
                                                <label for="fieldIext1" class="label-slide">E-mail</label>
                                                <input type="email" class="form-control form-control--slide" id="fieldText1" name="email" placeholder="E-mail">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                             <button type="submit" class="btn-main btn-main--submit btn-main--highlighted w-100">Resetuj hasło</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
