<!doctype html>
<html  lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>
        
        <header class="header-main">
            <!-- partial:views/_header.html -->
            <!-- partial -->
        </header>

        <main class="main">
          
        </main>

        <footer class="footer-main">
            <!-- partial:views/_footer.html -->
            <!-- partial -->
        </footer>

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
