<!doctype html>
<html  lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>
        
        <header class="header-main fixed-top">
            <!-- partial:views/_header.html -->
            <!-- partial -->
        </header>

        <main class="main">
            <section class="section-entry-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="section-entry-slider__slide swiper-slide lazy" style="background-image: url('img/joao-silas-SfkLX6fUObk-unsplash.png);" data-bg="url(img/joao-silas-SfkLX6fUObk-unsplash.png)">
                        <div class="container">
                           <div class="section-entry-slider__slide-item">
                               <h3 class="slide-item__heading">Sale of the<br> summer<br> collection</h3>
                               <a href="lista.html" class="link-arrow"><span class="icon icon-noun-arrow-left-1"></span>Shop Now</a>
                           </div> 
                        </div>
                    </div>
                </div>
            </section>
            <aside class="slider-sidebar">
                <div class="container">
                    <div class="row slider-sidebar__wrapp">
                        <div class="col-12 col-md-4">
                            <div class="slider-sidebar__item">
                                <span class="icon icon-noun-delivery-3"></span>
                                <div class="slider-sidebar__item__content">
                                    <span class="slider-sidebar__item__content__heading">Free Shipping</span>
                                    <p>On purchases over $199</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="slider-sidebar__item">
                                <span class="icon icon-noun-happy-1"></span>
                                <div class="slider-sidebar__item__content">
                                    <span class="slider-sidebar__item__content__heading">99% satisfied customers</span>
                                    <p>Our clients' opinions speak for themselves</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="slider-sidebar__item">
                                <span class="icon icon-noun-guarantee-5"></span>
                                <div class="slider-sidebar__item__content">
                                    <span class="slider-sidebar__item__content__heading">Originality Guaranteed</span>
                                    <p>30 days warranty for each product from our store</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row slider-sidebar__nav">
                        <div class="slider-sidebar__nav-btn">
                            <button type="button" class="swiper-button-next d-none d-lg-inline-flex"><span class="icon icon-noun-arrow-left-1"></span></button>
                            <button type="button" class="swiper-button-prev d-none d-lg-inline-flex"><span class="icon icon-noun-arrow-left-48k"></span></button>
                        </div>
                    </div>
                </div>
            </aside>
        </main>


        <footer class="footer-main">
            <!-- partial:views/_footer.html -->
            <!-- partial -->
        </footer>

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
