<!doctype html>
<html  lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body class="subpage-body">
        
        <header class="header-main header-main--subpage fixed-top">
            <!-- partial:views/_header.html -->
            <!-- partial -->
        </header>

        <main class="main main--pages main--cart">
            <div class="container d-none d-lg-block">
                <div class="row">
                    <nav class="breadcrumbs col-12 col-xl-6">
                        <ul class="breadcrumbs__list">
                            <li><a href="#"><span class="icon icon-noun-home-1"></span></a></li>
                            <li><a href="#">Men`s Tops</a></li>
                            <li><a href="#">T-Shirt</a></li>
                            <li><span>T-Shirt Summer Vibes</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <section class="product-cart">
                <div class="container">
                    <div class="row row-gallery-top">
                        <div class="col-12 col-md-6 product-cart__gallery product-cart__gallery--vertical">
                            <div class="product-cart__gallery__large productGalleryLargeVer">
                                <span class="label-sale label-new">NEW</span>
                                <div class="swiper-wrapper gallery-ps">
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide">
                                        <img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt="">
                                    </a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide">
                                        <img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt="">
                                    </a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                    <a href="img/AdobeStock_2366554811.png" class="swiper-slide"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></a>
                                </div>
                                <div class="swiper-scrollbar"></div>
                            </div>
                            <div class="product-cart__gallery__thumbs swiper-container thumbVertical d-none d-md-flex">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                    <div class="swiper-slide"><div class="thumbs-content"><img data-src="img/AdobeStock_2366554811.png" class="img-fluid lazy" alt=""></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="product-cart__content">
                                <div class="product-cart__content__info row d-none d-lg-flex">
                                    <div class="col-12 col-6 product-cart__content__info-item">
                                        <span class="icon icon-noun-delivery-3"></span>
                                        <div class="info-item__content">
                                            <span class="info-item__name">Standard shipment</span>
                                            <p>Free within 3-6 business days</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-6 product-cart__content__info-item">
                                        <span class="icon icon-noun-fast-delivery-1"></span>
                                        <div class="info-item__content">
                                            <span class="info-item__name">Express delivery</span>
                                            <p>$35,00 available</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="producer-logo"><img src="img/logo/google-play-badge.svg" class="img-fluid" alt=""></span>
                                <h1 class="product-cart__content__title native-heading-1 ">T-Shirt Summer Vibes</h1>
                                <div class="product-cart__content__price">
                                    <span class="product-cart__content__price">89.99zł <strike>100.25zł</strike></span>
                                </div>
                                <div class="product-cart__content__block">
                                    <h3 class="product-cart__content__block__heading">Color:</h3>
                                    <div class="product-cart__content__block__item">
                                        <span class="item-color" style="background: #000000"></span>
                                        <span class="item-color" style="background: #FBB03B"></span>
                                        <span class="item-color hovered" style="background: #FF0000"></span>
                                    </div>
                                </div>
                                <div class="product-cart__content__block">
                                    <h3 class="product-cart__content__block__heading">Size:</h3>
                                    <div class="product-cart__content__block__item">
                                        <div class="select-wrapper select-wrapper--item">
                                            <select>
                                                <option>Choose size</option>
                                                <option>Choose size</option>
                                                <option>Choose size</option>
                                                <option>Choose size</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-cart__content__block">
                                    <h3 class="product-cart__content__block__heading">Quantity:</h3>
                                    <div class="product-cart__content__block__item btn-add-cart">
                                        <div class="quantity-item">
                                            <button type="button" class="quantity-item__btn quantity--minus">-</button>
                                            <input type="number" class="form-control" value="1">
                                            <button type="button" class="quantity-item__btn quantity--plus">+</button>
                                        </div>
                                        <button type="button" class="btn-main btn-main--highlighted">Add to cart</button>
                                        <button type="button" class="favorite-item br-circle"><span class="icon icon-noun-heart-2"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="product-list">
                <div class="container">
                    <header class="native-header">
                        <h2 class="native-header__title">Selected just for you</h2>
                        <a href="#" class="btn-main">Show more</a>
                    </header>
                    <div class="swiper-container slider-product">
                        <div class="swiper-wrapper">
                            <a href="karta.html" class="swiper-slide product-item">
                                <div class="product-item__img">
                                    <img  data-src="img/AdobeStock_118120200.png" class="img-fluid lazy" alt="">
                                    <span class="label-sale">-25%</span>
                                </div>
                                <div class="product-item__content">
                                    <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                    <span class="product-item__content__price">89.99zł <strike>100.25zł</strike></span>
                                </div>
                            </a>
                            <a href="karta.html" class="swiper-slide product-item">
                                <div class="product-item__img">
                                    <img  data-src="img/AdobeStock_173519034.png" class="img-fluid lazy" alt="">
                                    <span class="label-sale label-new">NEW</span>
                                </div>
                                <div class="product-item__content">
                                    <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                    <span class="product-item__content__price sale-item">89.99zł</span>
                                </div>
                            </a>
                            <a href="karta.html" class="swiper-slide product-item">
                                <div class="product-item__img">
                                    <img  data-src="img/AdobeStock_136908398.png" class="img-fluid lazy" alt="">
                                </div>
                                <div class="product-item__content">
                                    <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                    <span class="product-item__content__price">89.99zł</span>
                                </div>
                            </a>
                            <a href="karta.html" class="swiper-slide product-item">
                                <div class="product-item__img">
                                    <img  data-src="img/AdobeStock_236655481.png" class="img-fluid lazy" alt="">
                                </div>
                                <div class="product-item__content">
                                    <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                    <span class="product-item__content__price">89.99zł</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-pagination d-xl-none"></div>
                    </div>
                     <div class="swiper-nav d-none d-xl-flex">
                        <button type="button" class="swiper-button-prev d-none d-lg-inline-flex"><span class="icon icon-noun-arrow-left-48"></span></button>
                        <button type="button" class="swiper-button-next d-none d-lg-inline-flex"><span class="icon icon-noun-arrow-left-1"></span></button>
                    </div>
                </div>
            </section>

            <section class="section-newsletter">
                <div class="container lazy" style="background-image: url('img/blake-wisz-GFrBMipOd_E-unsplash.png);" data-bg="url(img/blake-wisz-GFrBMipOd_E-unsplash.png)">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class="section-newsletter__txt">
                                <span>Subscribe to our newsletter and receive exclusive offers every week</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="section-newsletter__form">
                                <form action="#" id="newsletter" class="section-newsletter__fields">
                                    <div class="form-group form-group--slide">
                                        <label for="newsletter" class="label-slide">Enter your email</label>
                                    <input type="email" class="form-control form-control--slide" id="newsletter" placeholder="Enter your email">
                                    </div>
                                    <button type="submit" class="btn-main btn-main--highlighted">SUBSCRIBE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


        <footer class="footer-main">
            <!-- partial:views/_footer.html -->
            <!-- partial -->
        </footer>

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
