<!doctype html>
<html  lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body class="subpage-body">
        
        <header class="header-main header-main--subpage header-main--card fixed-top">
            <!-- partial:views/_header.html -->
            <!-- partial -->
        </header>

        <main class="main main--pages main--account">
            <section class="section-checkout">
                <div class="container">
                    <header class="section-checkout__header">
                        <h1 class="native-heading-large">Shopping Cart</h1>
                        <div class="section-checkout__header__step">
                            <span class="icon icon-noun-cart-1 current-step"></span>
                            <span class="icon icon-noun-delivery-2"></span>
                        </div>
                    </header>
                    <div class="section-checkout__content">
                        <div class="checkout-flex">
                            <div class="checkout-flex__header">
                                <span>Product</span>
                                <span>Color</span>
                                <span>Size</span>
                                <span>Ammount</span>
                                <span>Price</span>
                            </div>
                            <div class="checkout-flex__item">
                                <div class="checkout-flex__item__img"><img src="img/AdobeStock_118120200.png" class="img-fluid" alt=""></div>
                                <div class="checkout-flex__item__name">
                                    <h2 class="checkout-flex__item__name__heading">T-Shirt Summer Vibes</h2>
                                    <span>#261311</span>
                                </div>
                                <div class="checkout-flex__item__variant">
                                    <span>White</span>
                                </div>
                                <div class="checkout-flex__item__variant">
                                    <span>XL</span>
                                </div>
                                <div class="checkout-flex__item__quantity">
                                    <div class="quantity-item">
                                        <button type="button" class="quantity-item__btn quantity--minus">-</button>
                                        <input type="number" class="form-control" value="1">
                                        <button type="button" class="quantity-item__btn quantity--plus">+</button>
                                    </div>
                                </div>
                                <div class="checkout-flex__item__price">
                                    <span>$89.99</span>
                                </div>
                                <div class="checkout-flex__item__remove">
                                    <span class="icon icon-cancel"></span>
                                </div>
                            </div>
                                                        <div class="checkout-flex__item">
                                <div class="checkout-flex__item__img"><img src="img/AdobeStock_118120200.png" class="img-fluid" alt=""></div>
                                <div class="checkout-flex__item__name">
                                    <h2 class="checkout-flex__item__name__heading">T-Shirt Summer Vibes</h2>
                                    <span>#261311</span>
                                </div>
                                <div class="checkout-flex__item__variant">
                                    <span>White</span>
                                </div>
                                <div class="checkout-flex__item__variant">
                                    <span>XL</span>
                                </div>
                                <div class="checkout-flex__item__quantity">
                                    <div class="quantity-item">
                                        <button type="button" class="quantity-item__btn quantity--minus">-</button>
                                        <input type="number" class="form-control" value="1">
                                        <button type="button" class="quantity-item__btn quantity--plus">+</button>
                                    </div>
                                </div>
                                <div class="checkout-flex__item__price">
                                    <span>$89.99</span>
                                </div>
                                <div class="checkout-flex__item__remove">
                                    <span class="icon icon-cancel"></span>
                                </div>
                            </div>
                            <div class="checkout-flex__footer">
                                <a href="lista.html" class="text-link"><span class="icon icon-noun-arrow-left-59"></span>Continue Shopping</a>
                                <div class="checkout-flex__footer__group">
                                    <div class="form-group form-group--slide">
                                        <label for="fieldIext" class="label-slide">Promo Code</label>
                                        <input type="text" class="form-control form-control--slide" id="fieldText" name="promocode" placeholder="Promo Code">
                                        <span class="icon icon-noun-send-1"></span>
                                    </div>
                                    <span class="checkout-flex__footer__group__summary">Total cost: <b>$159,98</b></span>
                                    <a href="#" class="btn-main btn-main--highlighted">CHECKOUT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
