<!doctype html>
<html  lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body class="subpage-body">
        
        <header class="header-main header-main--subpage header-main--card fixed-top">
            <!-- partial:views/_header.html -->
            <!-- partial -->
        </header>

        <main class="main main--pages">
            <div class="container d-none d-lg-block">
                <div class="row">
                    <nav class="breadcrumbs col-12 col-xl-6">
                        <ul class="breadcrumbs__list">
                            <li><a href="#"><span class="icon icon-noun-home-1"></span></a></li>
                            <li><a href="#">Men`s Tops</a></li>
                            <li><a href="#">T-Shirt</a></li>
                            <li><span>T-Shirt Summer Vibes</span></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <section class="product-grid">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-4 col-xl-3">
                            <div class="product-filters">
                                <div class="product-filters__mobile">
                                    <button type="button" class="btn-filters-close d-lg-none"><span class="icon icon-cancel"></span></button>
                                    <div class="select-field d-lg-none">
                                        <label for="">Sort:</label>
                                        <div class="select-wrapper small-size small-size--lg">
                                            <select name="" id="">
                                                <option value="">POPULAR</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-filters__block product-filters__block--first">
                                    <h3 class="product-filters__block__heading">Product type</h3>
                                    <div class="product-filters__content">
                                        <div class="checkbox checkbox-option">
                                            <input type="checkbox" id="checkbox1" name="checkbox" class="checkbox__input">
                                            <label for="checkbox1" class="checkbox__label">T-Shirts <span>(411)</span></label>
                                        </div>
                                        <div class="checkbox checkbox-option">
                                            <input type="checkbox" id="checkbox2" name="checkbox" class="checkbox__input">
                                            <label for="checkbox2" class="checkbox__label">Sweatshirts  <span>(131)</span></label>
                                        </div>
                                        <div class="checkbox checkbox-option">
                                            <input type="checkbox" id="checkbox3" name="checkbox" class="checkbox__input">
                                            <label for="checkbox3" class="checkbox__label">Tank Tops <span>(11)</span></label>
                                        </div>
                                        <div class="checkbox checkbox-option">
                                            <input type="checkbox" id="checkbox4" name="checkbox" class="checkbox__input">
                                            <label for="checkbox4" class="checkbox__label">Dress shirts <span>(81)</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-filters__block">
                                    <h3 class="product-filters__block__heading">Price</h3>
                                    <div class="product-filters__content">
                                        <div class="range-slider">
                                            <div class="field-content" id="result">
                                                <div class="field-range">
                                                    <input type="number" class="form-control" value="100" min="0" max="4000"/>
                                                    <span class="units">zł</span>
                                                </div>
                                                <div class="field-range">
                                                    <input type="number" class="form-control" value="3000" min="0" max="6000"/>
                                                    <span class="units">zł</span>
                                                </div>
                                            </div>
                                            <div class="range-slider-inner">
                                                <span class="incl-range"></span>
                                                <input value="100" min="0" max="30000" step="50" type="range"/>
                                                <input value="3000" min="0" max="10000" step="50" type="range"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-filters__block">
                                    <h3 class="product-filters__block__heading">Size</h3>
                                    <div class="product-filters__content">
                                        <label for="40" class="item-option">
                                            <span class="item-option__name">XS</span>
                                            <input type="radio" class="item-option__field" id="40">
                                        </label>
                                        <label for="41" class="item-option">
                                            <span class="item-option__name">S</span>
                                            <input type="radio" class="item-option__field" id="41">
                                        </label>
                                        <label for="42" class="item-option">
                                            <span class="item-option__name">M</span>
                                            <input type="radio" class="item-option__field" id="42">
                                        </label>
                                        <label for="43" class="item-option">
                                            <span class="item-option__name">L</span>
                                            <input type="radio" class="item-option__field" id="43">
                                        </label>
                                        <label for="44" class="item-option">
                                            <span class="item-option__name">XL</span>
                                            <input type="radio" class="item-option__field" id="44">
                                        </label>
                                        <label for="45" class="item-option">
                                            <span class="item-option__name">XXL</span>
                                            <input type="radio" class="item-option__field" id="45">
                                        </label>
                                    </div>
                                </div>
                                <div class="product-filters__block">
                                    <h3 class="product-filters__block__heading">Color</h3>
                                    <div class="product-filters__content">
                                        <span class="item-color" style="background: #000000"></span>
                                        <span class="item-color" style="background: #FBB03B"></span>
                                        <span class="item-color" style="background: #FF0000"></span>
                                        <span class="item-color" style="background: #000000"></span>
                                        <span class="item-color" style="background: #FBB03B"></span>
                                        <span class="item-color hovered" style="background: #FF0000"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 col-xl-9">
                            <div class="product-grid__top">
                                <h1 class="product-grid__top__heading">Men's Tops <span>(133)</span></h1>
                                <div class="product-grid__top__content">
                                    <button type="submit" class="btn-filters"><span class="icon icon-2"></span></button>
                                    <div class="select-field d-none">
                                         <label for="">Show products:</label>
                                         <div class="select-wrapper small-size">
                                             <select name="" id="">
                                                 <option value="">30</option>
                                                 <option value="">40</option>
                                             </select>
                                         </div>
                                     </div>
                                     <div class="select-field d-none d-lg-flex">
                                         <label for="">Sort:</label>
                                         <div class="select-wrapper small-size small-size--lg">
                                             <select name="" id="">
                                                 <option value="">POPULAR</option>
                                             </select>
                                         </div>
                                     </div>
                                </div>
                            </div>
                            <div class="product-grid__list">
                                <div class="row">
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_118120200.png" class="img-fluid lazy" alt="">
                                            <span class="label-sale">-25%</span>
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price">89.99zł <strike>100.25zł</strike></span>
                                        </div>
                                    </a>
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_173519034.png" class="img-fluid lazy" alt="">
                                            <span class="label-sale label-new">NEW</span>
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price sale-item">89.99zł</span>
                                        </div>
                                    </a>
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_136908398.png" class="img-fluid lazy" alt="">
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price">89.99zł</span>
                                        </div>
                                    </a>
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_118120200.png" class="img-fluid lazy" alt="">
                                            <span class="label-sale">-25%</span>
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price">89.99zł <strike>100.25zł</strike></span>
                                        </div>
                                    </a>
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_173519034.png" class="img-fluid lazy" alt="">
                                            <span class="label-sale label-new">NEW</span>
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price sale-item">89.99zł</span>
                                        </div>
                                    </a>
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_136908398.png" class="img-fluid lazy" alt="">
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price">89.99zł</span>
                                        </div>
                                    </a>
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_118120200.png" class="img-fluid lazy" alt="">
                                            <span class="label-sale">-25%</span>
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price">89.99zł <strike>100.25zł</strike></span>
                                        </div>
                                    </a>
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_173519034.png" class="img-fluid lazy" alt="">
                                            <span class="label-sale label-new">NEW</span>
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price sale-item">89.99zł</span>
                                        </div>
                                    </a>
                                    <a href="karta.html" class="col-6 col-md-4 product-item">
                                        <div class="product-item__img">
                                            <img  src="img/AdobeStock_118120200.png" data-src="img/AdobeStock_136908398.png" class="img-fluid lazy" alt="">
                                        </div>
                                        <div class="product-item__content">
                                            <h3 class="product-item__content__name">T-Shirt Summer Vibes</h3>
                                            <span class="product-item__content__price">89.99zł</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="row">
                                    <nav class="pagination col-12">
                                        <ul class="pagination__list">
                                            <li class="text-prev"><a href="#"><span class="icon icon-left-arrow"></span>Poprzednia</a></li>
                                            <li><a href="#">1</a></li>
                                            <li class="current"><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li class="text-next"><a href="#">Następna<span class="icon icon-right-arrow"></span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="section-newsletter">
                <div class="container lazy" style="background-image: url('img/blake-wisz-GFrBMipOd_E-unsplash.png);" data-bg="url(img/blake-wisz-GFrBMipOd_E-unsplash.png)">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class="section-newsletter__txt">
                                <span>Subscribe to our newsletter and receive exclusive offers every week</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="section-newsletter__form">
                                <form action="#" id="newsletter" class="section-newsletter__fields">
                                    <div class="form-group form-group--slide">
                                        <label for="newsletter" class="label-slide">Enter your email</label>
                                    <input type="email" class="form-control form-control--slide" id="newsletter" placeholder="Enter your email">
                                    </div>
                                    <button type="submit" class="btn-main btn-main--highlighted">SUBSCRIBE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


        <footer class="footer-main">
            <!-- partial:views/_footer.html -->
            <!-- partial -->
        </footer>

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
