

button {
   // background: transparent;
    border: 0;
    cursor: pointer;
    padding: $btn-padding;
    margin: 0;
    color: $primary-color;
    display: inline-flex;
    height: auto;
}

.btn-main{
    display: inline-flex;
    height: $btn-height;
    border-radius: $border-radius;
    min-width: auto;
    
    padding: $btn-padding;
    text-transform: uppercase;
    transition:150ms all ease-in-out;
    justify-content: center;
    align-items: center;
    border:$border-style;
    color:$font-color;
    font-weight: $btn-font-weight;
    font-size: $btn-font-size;
    cursor:pointer;
    background:  $bg-color;
    text-align: center;
     @media (min-width: $sm){
        min-width: 143px;
     }
    @media (min-width: $lg){
        font-size:$btn-font-size-lg;
         padding: $btn-padding-lg;
    }
    &:hover,
    &:focus{
        background: #FBB03B;
        border:1px solid #FBB03B;
        color:#000000;
    }
}

.btn-main.btn-main--highlighted{
    background: $bg-highlighted-color;
    border:$border-style-higlighted;

    &:hover,
    &:focus{
        background: $bg-highlighted-color-hover;
        border:$border-style-higlighted-hover;
    }
}

.btn-main.btn-main--outline{
    background: $bg-highlighted-color-outline;
    border:$border-style-higlighted-outline;

    &:hover,
    &:focus{
        background: $bg-highlighted-color-outline-hover;
        border:$border-style-higlighted-outline-hover;
    }
}

.link-arrow{
    display: inline-flex;
    align-items: center;
    .icon{
        display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $native-color-hover;
    width: 39px;
    height: 39px;
    color:#fff;
    border-radius: 50%;
    margin-right: 15px;
    }
    font-size: 1.3rem;
    font-weight: 600;
    color:#fff;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    &:hover,
    &:focus{
        .icon{
            background:$bg-highlighted-color-hover ;
        }
        color:$bg-highlighted-color-hover ;
    }
}