.icon-grid{
	padding: 15px 0 25px;
	@media (min-width: $xl){
		padding: 45px 0 89px;
	}
	.native-header{
		  @media (min-width: $lg){
		  	margin-bottom: 86px;
		  }
	}
	.row{
		.col-12:last-of-type{
			.icon-grid__item{
				margin-bottom: 0;
			}
		}
	}
}
.icon-grid__item{
	position: relative;
	display: flex;
	margin-bottom: 30px;
	@media (min-width: $md) {
		flex-direction: column;
	}
	.icon{
		background: #F6F6F6;
		border-radius: 10px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		font-size:2.8rem ;
		height: 70px;
		flex:0 0 70px;
	}
	.icon.highlight-icon{
		background: #FFF3DF;
		color:$native-color-hover;
	}
	&__content{
		padding-left: 20px;
			@media (min-width: $md) {
				padding-left: 0;
				margin-top: 20px;
			}
			  @media (min-width: $lg){
			  	margin-top: 45px;
			  }
	}
	&__name{
		display: block;
		font-weight: 600;
		font-size: 1.4rem;
		margin-top: 0px;
		margin-bottom: 10px;
	
		@media (min-width: $lg){
			font-size: 1.6rem;
			margin-bottom: 19px;
		}
	}
	p{
		
		color:#808080;
		font-size: 1.2rem;
		font-weight: 400;
	//	display: none;
		@media (min-width: $lg){
			display: block;
			font-size: 1.3rem;
			max-width: 240px;

		}
	}
}