<div class="container container--flex">
	<a href="index.html" class="header-main__logo" title="Przejdź do strony Głównej">
		<img src="img/logo.svg" class="lazy img-fluid" alt="E-shop">
		<img src="img/logo_white.svg" class="lazy img-fluid " alt="E-shop">
	</a>
	<nav class="header-main__nav">
		<button type="button" class="close-nav"><span class="icon icon-cancel"></span></button>
		<ul class="header-main__nav__list">
			<li>
				<a href="lista.html">Men</a>
				<div class="header-main__nav__list__sub-content row">
					<div class="col-12 col-lg-3 sub-content-nav">
						<ul class="sub-content-nav__list sub-content-nav__list--recently">
							<li><a href="#">Sale</a></li>
							<li><a href="#">Bestsellers</a></li>
							<li><a href="#">Latest Arrivals</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-3 sub-content-nav">
						<h3 class="sub-content-nav__heading">SHOES</h3>
						<ul class="sub-content-nav__list">
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Running</a></li>
							<li><a href="#">Soccer</a></li>
							<li><a href="#">Basketball</a></li>
							<li><a href="#">Football</a></li>
							<li><a href="#">Golf</a></li>
							<li><a href="#">Baseball</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-3 sub-content-nav">
						<h3 class="sub-content-nav__heading">CLOTHING</h3>
						<ul class="sub-content-nav__list">
							<li><a href="#">Pants</a></li>
							<li><a href="#">Hoodies & Sweatshirts</a></li>
							<li><a href="#">Jackets & Vestsr</a></li>
							<li><a href="#">Track Suits</a></li>
							<li><a href="#">Short Sleeve Shirts</a></li>
							<li><a href="#">T-Shirts</a></li>
							<li><a href="#">Jerseys</a></li>
							<li><a href="#">Shorts</a></li>
							<li><a href="#">Jeans</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-3 sub-content-nav">
						<h3 class="sub-content-nav__heading">ACCESORRIES</h3>
						<ul class="sub-content-nav__list">
							<li><a href="#">Backpacks</a></li>
							<li><a href="#">Caps & Hats</a></li>
							<li><a href="#">Watches</a></li>
							<li><a href="#">Belts</a></li>
							<li><a href="#">Bags</a></li>
							<li><a href="#">Wallets & Cases</a></li>
							<li><a href="#">Scarves</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li>
				<a href="lista.html">Women</a>
				<div class="header-main__nav__list__sub-content row">
					<div class="col-12 col-lg-3 sub-content-nav">
						<ul class="sub-content-nav__list sub-content-nav__list--recently">
							<li><a href="#">Sale</a></li>
							<li><a href="#">Bestsellers</a></li>
							<li><a href="#">Latest Arrivals</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-3 sub-content-nav">
						<h3 class="sub-content-nav__heading">SHOES</h3>
						<ul class="sub-content-nav__list">
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Running</a></li>
							<li><a href="#">Soccer</a></li>
							<li><a href="#">Basketball</a></li>
							<li><a href="#">Football</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-3 sub-content-nav">
						<h3 class="sub-content-nav__heading">CLOTHING</h3>
						<ul class="sub-content-nav__list">
							<li><a href="#">Pants</a></li>
							<li><a href="#">Hoodies & Sweatshirts</a></li>
							<li><a href="#">Jackets & Vestsr</a></li>
							<li><a href="#">Track Suits</a></li>
							<li><a href="#">Short Sleeve Shirts</a>
						</ul>
					</div>
					<div class="col-12 col-lg-3 sub-content-nav">
						<h3 class="sub-content-nav__heading">ACCESORRIES</h3>
						<ul class="sub-content-nav__list">
							<li><a href="#">Backpacks</a></li>
							<li><a href="#">Caps & Hats</a></li>
							<li><a href="#">Watches</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li>
				<a href="lista.html">Kids</a>
				<div class="header-main__nav__list__sub-content row">
					<div class="col-12 col-lg-3 sub-content-nav">
						<h3 class="sub-content-nav__heading">CLOTHING</h3>
						<ul class="sub-content-nav__list">
							<li><a href="#">Pants</a></li>
							<li><a href="#">Hoodies & Sweatshirts</a></li>
							<li><a href="#">Jackets & Vestsr</a></li>
							<li><a href="#">Track Suits</a></li>
							<li><a href="#">Short Sleeve Shirts</a></li>
							<li><a href="#">T-Shirts</a></li>
							<li><a href="#">Jerseys</a></li>
							<li><a href="#">Shorts</a></li>
							<li><a href="#">Jeans</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-3 sub-content-nav">
						<h3 class="sub-content-nav__heading">ACCESORRIES</h3>
						<ul class="sub-content-nav__list">
							<li><a href="#">Backpacks</a></li>
							<li><a href="#">Caps & Hats</a></li>
							<li><a href="#">Watches</a></li>
							<li><a href="#">Belts</a></li>
							<li><a href="#">Bags</a></li>
							<li><a href="#">Wallets & Cases</a></li>
							<li><a href="#">Scarves</a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	<div class="header-main__group">

		<button type="button" class="header-main__group__search-btn">
			<span class="icon icon-noun-search-1"></span>
		</button>
		<div class="header-main__group__search">
			<button type="button" class="close-search"><span class="icon icon-cancel"></span>Zamknij</button>
			<form action="#" id="searchForm">
				<div class="search-form">
					<input type="text" class="form-control" placeholder="Wyszukaj ...">
					<button type="submit" class="search-form__btn"><span class="icon icon-noun-search-1"></span></button>
				</div>
			</form>
		</div>
		<a href="koszyk.html" class="header-main__group__basket" title="Koszyk"><span class="icon icon-noun-cart-1"></span></a>
		<a href="#" class="header-main__group__account" title="Twoje konto"><span class="icon icon-noun-avatar-1"></span></a>
		<button type="button" class="header-main__group__nav-btn" title="Menu"><span class="icon icon-navicon"></span></button>
	</div>
</div>