<style>
	.seperator{
		margin:30px 0;
		display: block;
	}
</style>
<div class="container" style="max-width:1000px">
	<div class="seperator">
		<a href="#" class="btn-main">Rozpocznij <span class="icon icon-right-arrow"></span></a>
	</div>
	<div class="seperator">
		<button type="button" class="btn-main btn-main--highlighted" disabled>Rozpocznij</button>
	</div>
	<div class="seperator">
		<button type="button" class="btn-main btn-main--outline">Rozpocznij</button>
	</div>
	<div class="seperator">
		<button type="button" class="btn-main" disabled>Rozpocznij</button>
	</div>
	
	<div class="seperator">
		<button type="button" class="btn-main">Rozpocznij</button>
	</div>
	<div class="seperator">
		<a href="#" class="text-link text-link--arrow"><span class="icon icon-right-arrow"></span>Wróć do strony</a>
		<button type="button" class="text-link text-link--arrow"><span class="icon icon-right-arrow"></span>Wróć do strony</button>
	</div>
	<div class="seperator">
		
			<span class="check-sign icon icon-check-mark-black-outline"></span>
		
	</div>
	<div class="seperator">
		<div class="current">
			<span class="check-sign icon icon-check-mark-black-outline"></span>
		</div>
	</div>
	<div class="seperator">
		<label for="fieldIext">Imię i nazwisko</label>
		<input type="text" class="form-control" id="fieldText" placeholder="Wpisz">
	</div>
	<div class="seperator form-group">
		<label for="fieldIext">Imię i nazwisko</label>
		<input type="text" class="form-control" id="fieldText" placeholder="Wpisz">
		<label class="text-error"></label>
	</div>
	<form action="" id="test">
		<div class="seperator form-group form-group--slide">
		<label for="fieldIext" class="label-slide">Label custom</label>
		<input type="email" class="form-control form-control--slide" id="fieldText" name="email" placeholder="Label custom">
		
	</div>
	<button type="submit">dasdad</button>
	</form>
	<div class="seperator">
		<div class="form-group">
			<label for="fieldIext">Etykieta Form group</label>
			<input type="text" class="form-control" id="fieldText" placeholder="Wpisz">
		</div>
	</div>
	<div class="seperator">
		<div class="form-group form-group--radio">
			<label for="fieldIextRadio">Etykieta Form group</label>
			<input type="radio" class="form-control" id="fieldIextRadio">
		</div>
	</div>
	<div class="seperator">
		<div class="form-group">
			<textarea name="" class="form-control" placeholder="Wpisz"></textarea>
		</div>
	</div>
	<div class="seperator">
		<div class="select-wrapper">
			<select>
			<option>Przykład</option>
			<option>Przykład</option>
			<option>Przykład</option>
			<option>Przykład</option>
		</select>
		</div>
	</div>
	<div class="seperator">
		<div class="checkbox">
             <input type="checkbox" id="checkbox" name="checkbox" class="checkbox__input">
             <label for="checkbox" class="checkbox__label">Wyrażam zgodę na przetwarzanie moich danych osobowych przez firmę “XYZ” w celu złożenia mi oferty rabatowej na stolarkę okienną.<sup>*</sup>.</label>
         </div>
	</div>
		<div class="seperator">
		<span>size:</span>
		<div class="select-wrapper select-wrapper--item">
			<select>
				<option>Choose size</option>
				<option>Choose size</option>
				<option>Choose size</option>
				<option>Choose size</option>
			</select>
	</div>
	<div class="seperator">
		<span class="label-sale">Promocja</span>
	</div>
	<div class="seperator">
		<div class="quantity-item">
			<button type="button" class="quantity-item__btn quantity--minus">-</button>
			<input type="number" class="form-control" value="1">
			<button type="button" class="quantity-item__btn quantity--plus">+</button>
		</div>
	</div>
	<div class="seperator">
		<span class="item-color" style="background: #000000"></span>
		<span class="item-color" style="background: #FBB03B"></span>
		<span class="item-color hovered" style="background: #FF0000"></span>
	</div>
	<div class="seperator">
		<label for="41" class="item-option">
			<span class="item-option__name">S</span>
			<input type="radio" class="item-option__field" id="41">
		</label>
		<label for="42" class="item-option">
			<span class="item-option__name">M</span>
			<input type="radio" class="item-option__field" id="42">
		</label>
		<label for="43" class="item-option">
			<span class="item-option__name">L</span>
			<input type="radio" class="item-option__field" id="43">
		</label>
		<label for="44" class="item-option">
			<span class="item-option__name">XL</span>
			<input type="radio" class="item-option__field" id="44">
		</label>
	</div>
	<div class="seperator">
		<div class="checkbox checkbox-option">
             <input type="checkbox" id="checkbox1" name="checkbox" class="checkbox__input">
             <label for="checkbox1" class="checkbox__label">T-Shirts <span>(411)</span></label>
         </div>
	</div>

	<div class="seperator">
		<div class="range-slider">
			<div class="field-content" id="result">
                <div class="field-range">
                    <input type="number" class="form-control" value="100" min="0" max="4000"/>
                    <span class="units">zł</span>
                </div>
                <div class="field-range">
                    <input type="number" class="form-control" value="3000" min="0" max="6000"/>
                    <span class="units">zł</span>
                </div>
            </div>
            <div class="range-slider-inner">
                <span class="incl-range"></span>
                <input value="100" min="0" max="30000" step="50" type="range"/>
                <input value="3000" min="0" max="10000" step="50" type="range"/>
            </div>
           
        </div>
	</div>
	<div class="seperator">
		<div class="select-field">
		<label for="">Show products:</label>
		<div class="select-wrapper small-size">
			<select name="" id="">
				<option value="">30</option>
			</select>
		</div>
		</div>
	</div>
	<div class="seperator">
		<div class="select-field">
		<label for="">Show products:</label>
		<div class="select-wrapper small-size">
			<select name="" id="">
				<option value="">popular</option>
			</select>
		</div>
		</div>
	</div>
	<div class="seperator">
		<a href="#" class="favorite-item"><span class="icon icon-noun-heart-2"></span></a>
		<a href="#" class="favorite-item br-circle"><span class="icon icon-noun-heart-2"></span></a>
	</div>
	<div class="seperator">
		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li><a href="#"><span class="icon icon-noun-home-1"></span></a></li>
				<li><a href="#">Men`s Tops</a></li>
				<li><a href="#">T-Shirt</a></li>
				<li><span>T-Shirt Summer Vibes</span></li>
			</ul>
		</nav>
	</div>
	<div class="seperator">
		<ul class="list">
			<li>Lorem Ipsum 1</li>
			<li>Lorem Ipsum 2</li>
			<li>Lorem Ipsum 3</li>
			<li>Lorem Ipsum 4</li>
			<li>Lorem Ipsum 5</li>
			<li>Lorem Ipsum 6</li>
		</ul>
	</div>
	<div class="seperator">
		<ol class="list list-numbers">
			<li>Lorem Ipsum 1</li>
			<li>Lorem Ipsum 2</li>
			<li>Lorem Ipsum 3</li>
			<li>Lorem Ipsum 4</li>
			<li>Lorem Ipsum 5</li>
			<li>Lorem Ipsum 6</li>
		</ol>
	</div>
	<div class="seperator">
		<h3 class="native-heading-1">T-Shirt Summer Vibes</h3>
	</div>
	<div class="seperator">
		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>
		<h6>Heading 6</h6>
	</div>
	<div class="seperator">
		<h1 class="primary-heading">Primary heading</h1>
		<h2 class="secondary-heading">Secondary heading</h2>
	</div>
	<div class="seperator">
		<nav class="pagination">
            <ul class="pagination__list">
                <li class="text-prev"><a href="#"><span class="icon icon-left-arrow"></span>Poprzednia</a></li>
                <li><a href="#">1</a></li>
                <li class="current"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="text-next"><a href="#">Następna<span class="icon icon-right-arrow"></span></a></li>
            </ul>
        </nav>
	</div>
	<div class="seperator">
		<button type="button" class="btn-main" data-toggle="modal" data-target="#myModal">Modal</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					 <div class="modal-header">
					    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					       <span aria-hidden="true">&times;</span>
					    </button>
					 </div>
					 <div class="modal-body">
					 </div>
					 <div class="modal-footer">
					    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					    <button type="button" class="btn btn-primary">Save changes</button>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>