.main.main--cart{
	margin-top: 0;
}

.product-cart {
	 &__content{
	 	margin-top: 15px;

	 	&__info{
	 		&-item{
	 			display: flex;
	 			align-items: center;
	 			margin-bottom: 30px;
	 			.icon{
	 				font-size: 2rem;
	 			}
	 			.info-item__content{
	 				margin-left: 20px;
	 			}
	 			.info-item__name{
	 				font-weight:600 ;
	 				font-size: 1.2rem;
	 				display: block;
	 			}
	 			p{
	 				margin:0;
	 				font-weight: 300;
	 				line-height: 1.8rem;
	 			}
	 		}
	 	}
    	.producer-logo{
    		width: 80px;
    		display: inline-flex;
    		align-items: center;
    		justify-content: center;
    		margin-bottom: 15px;
    		img{
    			max-height:100%;
    		}
    	}
    	&__title{

    	}
    	&__price{
			display: flex;
			font-size: 2.1rem;
			margin-top: 0px;
			//justify-content: space-between;
			color:$primary-color;
			margin-bottom: 15px;
			
			strike{
				color:#CECECE;
				margin-left: 15px;

			}
		}
		&__price.sale-item{
			color:$native-color-error;
		}
		&__block{
			margin-bottom: 25px;
			&__heading{
				display: block;
				color:$primary-color;
				font-size: 1.3rem;
				font-weight: 300;
				margin-bottom: 10px;
			}
			&__item{
				display: flex;
			}
			&__item.btn-add-cart{
				display: flex;
				//flex-direction: column;
				justify-content: space-between;
				.quantity-item{
					margin-right: 5px;
				}
				.btn-main{
					@media (max-width: 570px){padding: 0 21px;}
				}

				.favorite-item{
					display: none;
					@media (min-width: $md){
						display: inline-flex;
					}
				}
			}
		}
    }
	.row-gallery-top{
		@media (max-width: 575px) {margin:0 -35px;}
	}
    &__gallery {
        // padding: 0;
        margin-bottom: 20px;

        @media (max-width: 575px) {
            padding: 0;
        }

        @media (min-width: $md) {
            padding: 0 15px;
        }

        @media (min-width: $xl) {
            padding-right: 63px;
        }

        .label-sale{
            z-index: 1000;
            position: absolute;
 left: 15px;
                top: 15px;
            @media (min-width: $xl) {
                left: 24px;
                top: 22px;
            }
        }

        &__large {
            overflow: hidden;

            .swiper-slide {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .swiper-slide--single {
                width: 100% !important;
            }
        }

        &__thumbs {
            margin: 5px -3px 0;

            @media (min-width: $xl) {
                margin-left: -6px;
                margin-right: -6px;
                margin-top: 20px;
            }

            .swiper-slide {
                //   flex: 0 0 45.7px;
                //  max-width: 45.7px;
                //  width: 45.7px !important;
                margin-bottom: 5px;
                position: relative;
                flex: 0 0 12.5%;
                max-width: 12.5%;
                width: 12.5% !important;

                @media (min-width: $md) {
                    /*   flex: 0 0 48px;
                    max-width: 48px;
                    width: 48px !important; */
                    flex: 0 0 14.28%;
                    max-width: 14.28%;
                    width: 14.28% !important;
                }

                @media (min-width: $lg) {
                    /* flex: 0 0 76px;
                    max-width: 76px;
                    width: 76px !important; */
                    flex: 0 0 16.6666%;
                    max-width: 16.6666%;
                    width: 16.6666% !important;
                }

                @media (min-width: $xl) {
                    flex: 0 0 89px;
                    max-width: 89px;
                    width: 89px !important;
                }

                .thumbs-content {
                    padding: 0 3px;

                    @media (min-width: $xl) {
                        padding: 0 6px;
                    }
                }

                img {
                    max-height: 100%;
                }
            }

            .swiper-slide-thumb-active {
                .thumbs-content:before {
                    content: "";
                    height: 3px;
                    position: absolute;
                    z-index: 1;
                    background: $color-5;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: calc(100% - 6px);

                    @media (min-width: $xl) {
                        width: calc(100% - 12px);
                    }
                }
            }
        }
    }
    .swiper-scrollbar{
    	width: 302px;
    	left:0;
    	right: 0;
    	margin:0 auto;
    	bottom:15px;
    	background: #fff;
    	border-radius: 30px;
    	height: 3px;
    	.swiper-scrollbar-drag{
    		background: #000000;
    		border-radius: 30px;
    	}
    }
}

.product-card__gallery.product-card__gallery--vertical {
    @media (min-width: $lg) {
        padding-left: 66px;
        padding-right: 55px;

        // display: flex;
        //  flex-direction: row-reverse;
    }

    .product-card__gallery__thumbs {
        @media (min-width: $lg) {
            height: 550px;
        }
    }

    .label-new {
        @media (min-width: $lg) {
            left: 87px !important;
        }
    }

    .product-card__gallery__thumbs .swiper-wrapper {
        @media (max-width: 991px) {
            transform: translate3d(0px, 0px, 0px) !important;
            flex-wrap: wrap;
        }

        //justify-content: fle
   
    }

    .product-card__gallery__thumbs {
        @media (min-width: $lg) {
            position: absolute;
            top: 0;
            margin-top: 0;
            left: 0;
            z-index: 10;
            overflow: hidden;
            left: 15px;
            flex: 0 0 52px;
            max-width: 52px;

            .swiper-wrapper {
                @media (min-width: $lg) {
                    //transform: translate3d(0px, 0px, 0px) !important;
                }
            }
        }

        .swiper-slide {
            @media (min-width: $lg) {
                flex: 0 0 56px;
                max-width: 56px;
                width: 56px !important;
            }
        }
    }


}